body {
  line-height: 1.5;
  /* background: url(../images/header.jpg); */
  color: white;
  /* 以下代码为全屏图片的实现方式，请勿改动 */
  background-position: center;
  background-attachment: fixed;
}
div{
	margin:0;
	 padding:0;
}
a {
	color: #00F9A5;
	text-decoration: none;
}

h2{ 
	font-weight:normal;
    font-size:100%;
    font-size: 3.0em;
}
h3{  
	 font-weight:normal;
	 font-size:100%;
	text-align:center;
}
h4{  
      font-weight:normal;
      font-size:100%;
	font-size: 15px;
}
h5{
	 font-weight:normal; 
	 font-size:100%;
	text-align:center;
}
h6{ 
	 font-weight:normal;
	 font-size:100%;
	text-align: left;
	margin-top: -30px;
}

p { 
	 font-weight:normal;
	  font-size:100%;
	margin-top: -5px;
	font-size: 1.0em;
}
.btn-success{
	color: black;
	background-color: #00F9A5;
	border-color: #00F9A5;
}.jumbotron{
  height: 300px;

  color: white;
  
  background: url(../images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin:0;
}
.jumbotron-content {
  width: 1100px;
  margin: 30px;
}
.page-header{
	color: black;
	text-align:center;
	border: none;
}
.row{
	border-bottom: 1px solid #E0E0E0;
}
.thumbnail{
	border: 0!important;
}
.page-header h6{
	margin-left: 30px;
}